.imagensBlue{
    border: 4px solid #ccc;
    border-radius: 8px;
    height: 10em;
}
.paragrafo{
    color:blue;
    font-size: 25px;
}
.centro{
    text-align: center;
}
.tamanhotexto{
    font-size: 18px;
}
.tamanhoimagem{
    height: 4em;
}